* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.header {
    box-shadow: 0 0 10px #eee;
    height: 70px;
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.header-nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin: 4px 10px;
}

.navbar-toggler {
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}
