@model TodoApp.Presentation.ViewModels.CreateTodoViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('../images/god.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .navbar {
        box-shadow: 0 5px 20px #565656;
    }
</style>

<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hashtag" class="control-label"></label>
                <input asp-for="Hashtag" class="form-control" />
                <span asp-validation-for="Hashtag" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>

            <label class="radio-inline my-3">
                <input type="radio" checked asp-for="Priority" value="0"> Low
            </label>
            <label class="radio-inline mx-4">
                <input type="radio" asp-for="Priority" value="1"> Medium
            </label>
            <label class="radio-inline">
                <input type="radio" asp-for="Priority" value="2"> Hight
            </label>
            <div class="form-group">
                <input type="submit" value="Create todo" class="btn btn-primary btn-raised btn-lg my-4" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
