@model List<Todo>
@{
    ViewData["Title"] = $"Hello, {User.Identity.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Styles{
    <link href="~/css/todo-list.css" rel="stylesheet" />

    <style>
        body {
            background-image: url('images/afinskaya-shkola-rafael.jpg');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .navbar {
            box-shadow: 0 5px 20px #1a1a1a;
        }
    </style>
}

<div>
    <h1>Hi, @User.Identity.Name.Split('@')[0]! Let's do it, man!</h1>
    <a asp-controller="todos" asp-action="create" class="btn btn-primary btn-raised btn-lg my-3">add todo</a>

    <div class="todo-list-body row">
        <div class="loader">Loading...</div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/todohub")
            .build();

        hubConnection.on('TodosUpdated', data => {
            console.log(JSON.parse(data))
            displayTodosData(JSON.parse(data))
        })

        hubConnection.start();

        const displayTodosData = todos => {
            const todoContainer = $(".todo-list-body");
            let markUp = "";

            todoContainer.empty();

            const noCompletedTodos = todos.filter(todo => !todo.isCompleted);
            const completedTodos = todos.filter(todo => todo.isCompleted);

            if (noCompletedTodos.length > 0) {
                todoContainer.append(`<h2 class="todo-list-title col-md-12 my-4">Newest!</h2>`);
                markUp = getHtmlTodosMarkupFromList(noCompletedTodos);
                todoContainer.append(markUp);
            }

            if (completedTodos.length > 0) {
                todoContainer.append(`<h2 class="todo-list-title col-md-12 my-4">Just done. Good job, man!</h2>`);
                markUp = getHtmlTodosMarkupFromList(completedTodos);
                todoContainer.append(markUp);
            }

            if (noCompletedTodos.length === 0 && completedTodos.length === 0) {
                todoContainer.append(`<h2 class="todo-list-title col-md-12 my-4">You don't have any task!</h2>`);
            }

            $('.todo-complete-mark').on('click', function () {
                event.preventDefault();

                $(this)
                    .closest('.todo-item')
                    .find('.todo-thoughtline')
                    .animate({ width: '102%' }, 200, () => {
                        const id = $(this).closest('.todo-item').data('todo-id')
                        $.ajax({
                            method: 'post',
                            url: '/todos/ChangeTodoStatus/' + id,
                            success: data => console.log(data)
                        })
                    })
            })

            $('.delete-todo').on('click', function () {
                event.preventDefault();

                $(this).closest(".todo-item").fadeOut(300, () => {
                    const id = $(this).closest('.todo-item').data('todo-id')
                        $.ajax({
                            method: 'post',
                            url: '/todos/delete/' + id,
                        })
                });
            })
        }

        const getHtmlTodosMarkupFromList = todos => {
            let markUp = '';

            todos.map(todo => {
                let priority;

                if (todo.priority == 0) {
                    priority = 'low';
                } else if (todo.priority == 1) {
                    priority = 'medium';
                } else if (todo.priority == 2) {
                    priority = 'hight';
                }

                const todoMarkUp = `
                          <div class="todo-item col-md-12 ${todo.isCompleted && "completed"}" data-todo-id='${todo.id}'>
                             <div class="row col-md-12">
                                <div class="d-inline-flex col-md-6 col-xs-12">
                                    <a class='check-mark ${todo.isCompleted || "todo-complete-mark"}' >
                                        <i style="margin-top: 8px; cursor: pointer;" class="fas fa-check"></i>
                                    </a>
                                    <div class="todo-summary">
                                        <div style="position:relative">${todo.title}
                                            <div class="todo-thoughtline ${todo.isCompleted && 'display-thoughtline'}"></div>
                                        </div>
                                        <p class="font-italic" style="color: #808080">${todo.summary}</p>
                                    </div>
                                    <p class="todo-priority ${priority}">${priority[0]}</p>
                                </div>
                                <div class="todo-item-desc d-inline-flex col-md-6 col-xs-12 justify-content-md-end justify-content-xs-center align-items-center">
                                    <p style="margin-top: 4px">${getShortDate(todo.deadline)}</p>
                                    ${todo.fileUrl ? `<p style="margin-right: 0px" class="todo-category"><a style="color: #fff" href="${todo.fileUrl}"><i style="margin-top: 5px; margin-right: 10px;" class="fas fa-file-download"></i>Download</a></p>` : ''}
                                    <p class="todo-category">#${todo.hashtag}</p>
                                    <p><a href="/todos/edit/${todo.id}"><i style="margin-top: 5px" class="fas fa-pencil-alt"></i></a></p>
                                    <p><a href="#" class="delete-todo"><i style="margin-top: 5px; margin-left: 10px; color: red" class="fas fa-trash-alt"></i></a></p>
                                </div>
                            </div>
                        </div>
                        `;

                markUp += todoMarkUp;
            })

            return markUp;
        }

        const getShortDate = dateString => {
            const monthes = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

            const date = new Date(dateString);
            return monthes[date.getMonth()] + '. ' + date.getDate();
        }

        $.ajax({
            method: 'get',
            url: '/api/todos',
            success: displayTodosData
        })
    </script>
}